@media(min-width:1024px){
    .just-content-spa-betw{
        justify-content: space-between;
    }
    .align-items-center{
        align-items: center;
    }
        ul, header, footer{
        display:flex;
    }
    .grid{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }
    main{
        display: grid;
        grid-template-areas:
            "titulo titulo titulo"
            "img-desktop img-desktop img-desktop"
            "noticias noticias noticias"
            "CIz CM CDr";
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(4, auto);
    }
    .image-desktop{
        grid-area:img-desktop;
    }
    .noticias{
        grid-area: noticias;
    }
    .titulo{
        grid-area:titulo;
        justify-content: center;
    }
    .card-plantilla{
        grid-area: CIz;
    }
    .card-noticias{
        grid-area: CM;
    }
    .card-productos{
        grid-template-areas: CDr;
    }
    
    a{
        color:white;
        font-size:28px;
        padding:5px;
        margin:10px;
    }

    footer{display:flex;
        flex-direction: column;
        align-items: center;}
}